*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    height: 100%;
    width: 100%;
    position:absolute;
}

#subtituloPrincipal{
    font: bold 14px verdana, sans-serif;
}

#espacioTitulo{
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    border: 1px solid #999999;
    background: #DDDDDD;
    border-radius: 20px;
    text-align: center;
}

#tituloPrincipal{
    font: bold 36px verdana, sans-serif;
}

#selector{
    width: 100%;
    height: 40%;
    text-align: center;
}

#clases{
    width: 50%;
    height: 20%;
    border: solid;
}

#trabajo{
    width: 50%;
    height: 20%;
    border: solid;
}

#lema{
    text-align: center;
}



